Repository AILab-FOI/PRRI-HoloGameV2024, pull requests merged in 2024-04, with the labels that each got.

#38 Implementirane kolizije
  src/hologamev.py
  src/modules/collidable.py
  src/modules/controller.py
  src/modules/main.py
  src/modules/pucanje.py
Labels: enhancement

#39 Kreiran dizajn neprijatelja
  src/hologamev.py
  src/modules/controller.py
  src/modules/main.py
  src/sprites/enemies3.png
Labels: game art

#43 42 kreiranje pogleda
  src/hologamev.py
  src/modules/collidable.py
  src/modules/controller.py
  src/modules/enemy.py
  src/modules/main.py
  src/modules/pogled.py
  src/modules/pucanje.py
Labels: enhancement

#46 Kreireanje početnog izbornika
  src/hologamev.py
  src/modules/main.py
  src/modules/menu.py
Labels: enhancement, game art
